In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
data = pd.read_csv("Bank_Stock_Price_10Y.csv")

In [3]:
data.head()

         Date    Open    High     Low   Close    Adj Close     Volume
0  2014-02-03  1980.0  2000.0  1965.0  1965.0  1691.382568   55407000
1  2014-02-04  1970.0  1980.0  1940.0  1970.0  1695.686035   83683500
2  2014-02-05  1980.0  1990.0  1965.0  1990.0  1712.901367   42715000
3  2014-02-06  1975.0  2030.0  1970.0  2030.0  1747.331299   63581000
4  2014-02-07  2050.0  2060.0  2035.0  2050.0  1764.546753  104825500

In [4]:
X = data.iloc[:, [1,2,4,5]].values
y = data.iloc[:,3:4].values

In [5]:
X

array([[1980.      , 2000.      , 1965.      , 1691.382568],
       [1970.      , 1980.      , 1970.      , 1695.686035],
       [1980.      , 1990.      , 1990.      , 1712.901367],
       ...,
       [9400.      , 9450.      , 9350.      , 9350.      ],
       [9400.      , 9550.      , 9550.      , 9550.      ],
       [9500.      , 9650.      , 9650.      , 9650.      ]])

In [6]:
data.describe()

,Open,High,Low,Close,Adj Close,Volume
count,2483.000000,2483.000000,2483.000000,2483.000000,2483.000000,2.483000e+03
mean,5219.973822,5265.847765,5173.628675,5219.887233,4886.148684,7.997496e+07
std,2223.156537,2240.113146,2206.459905,2223.903144,2276.934419,5.378122e+07
min,1970.000000,1980.000000,1940.000000,1965.000000,1691.382568,0.000000e+00
25%,2955.000000,2985.000000,2930.000000,2950.000000,2612.564454,5.153575e+07
50%,5170.000000,5235.000000,5120.000000,5180.000000,4736.543945,7.009800e+07
75%,6822.500000,6890.000000,6740.000000,6800.000000,6349.964111,9.651755e+07
max,9775.000000,9775.000000,9675.000000,9750.000000,9750.000000,1.062862e+09

In [7]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2483 entries, 0 to 2482
Data columns (total 7 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Date       2483 non-null   object
 1   Open       2483 non-null   float64
 2   High       2483 non-null   float64
 3   Low        2483 non-null   float64
 4   Close      2483 non-null   float64
 5   Adj Close  2483 non-null   float64
 6   Volume     2483 non-null   int64
dtypes: float64(5), int64(1), object(1)
memory usage: 135.9+ KB

In [8]:
data.isna().sum()

Date         0
Open         0
High         0
Low          0
Close        0
Adj Close    0
Volume       0
dtype: int64

In [9]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [10]:
from sklearn.tree import DecisionTreeClassifier, DecisionTreeRegressor
clf= DecisionTreeClassifier()
clf.fit(X_train, y_train)

DecisionTreeClassifier()

In [11]:
y_pred = clf.predict(X_test)

In [12]:
# Calculate accuracy for classification
from sklearn.metrics import accuracy_score, mean_squared_error
accuracy = accuracy_score(y_test, y_pred)
print(f"Classification Accuracy: {accuracy:.2f}")

Classification Accuracy: 0.13

In [13]:
clf_reg = DecisionTreeRegressor()
clf_reg.fit(X_train, y_train)

DecisionTreeRegressor()

In [14]:
y_predR = clf_reg.predict(X_test)

In [15]:
mse_reg = mean_squared_error(y_test, y_predR)
print(f"Regression Mean Squared Error: {mse_reg:.2f}")

Regression Mean Squared Error: 1824.63

In [ ]:
#Plot the decision tree
#from sklearn.tree import plot_tree
#plt.figure(figsize=(12, 8))
#plot_tree(clf, feature_names=data.columns[1:5], filled=True, rounded=True)
#plt.show()

# =============================================================